[submodule "3rdparty/SOEM"]
	path = 3rdparty/SOEM
	url = https://github.com/OpenEtherCATsociety/SOEM.git
[submodule "tools/autd3_build_utils"]
	path = tools/autd3_build_utils
	url = https://github.com/shinolab/autd3_build_utils.git
